.header {
  display: flex;
  align-items: flex-start;
  padding: 3em 2.5em;
  padding-left: 5em;
}
.title {
  flex-basis: 50%;
  color: #444;
}
.t-started {
  color: #fe6d73;
}
.t-progress {
  color: #ffcb77;
}
.t-finished {
  color: #17c3b2;
}
.row-progress {
  display: flex;
}
.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1em;
}
.progress span {
  color: #444;
}
