<div class="header">
  <h1 class="title">Semáforo de Tareas</h1>
  <div class="row-progress">
    <div class="progress">
      <mat-icon class="t-started">circle</mat-icon>
      <span>Iniciada</span>
    </div>
    <div class="progress">
      <mat-icon class="t-progress">circle</mat-icon>
      <span>En proceso</span>
    </div>
    <div class="progress">
      <mat-icon class="t-finished">circle</mat-icon>
      <span>Terminada</span>
    </div>
  </div>
</div>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
